{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="hero is-small is-primary mb-6">
        <div class="hero-body">
            <p class="title">
                Hola!
            </p>
            <p class="subtitle">
                ¿A qué producto le quieres dar una segunda vida?
            </p>
        </div>
    </section>
    <section class="section is-medium">
        <div class="container is-max-desktop">
            <div class="box p-6">

                <div id="loading">
                    <span class="is-size-4 has-text-centered has-text-weight-semibold is-block pb-5">Localizando Categorías de Productos</span>
                    <progress class="progress is-small is-primary" max="100">15%</progress>
                </div>
                <ul id="categories">
                    <span class="is-size-4 has-text-centered has-text-weight-semibold is-block pb-5">¿A qué tipo de producto deseas darle una nueva vida?</span>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}
