<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>CashConverter</strong> Test by <a href="https://github.com/Yerdivad">David Rey</a>.
        </p>
    </div>
</footer>